<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanperiod="1 minutes">

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="log.file" value="${LOG_FILE}" />

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){green} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
        </encoder>
    </appender>

    <appender name="dailyRollingInfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.file}.log</file>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){green} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.file}/application_%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="dailyRollingError" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.file}.error</file>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){green} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.file}_%d{yyyyMMdd}.error</fileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <springProfile name="user-local, local-stage">
        <root level="INFO">
            <appender-ref ref="dailyRollingInfo" />
        </root>

        <!--<logger name="org.springframework" level="DEBUG" additivity="false">-->
        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="stdout" />
        </logger>

        <logger name="jdbc" level="OFF"/>

        <logger name="jdbc.sqlonly" level="OFF"/>
        <logger name="jdbc.sqltiming" level="DEBUG"/>
        <!--        <logger name="jdbc.sqltiming" level="OFF"/>-->
        <logger name="jdbc.audit" level="OFF"/>
        <logger name="jdbc.resultset" level="OFF"/>
        <logger name="jdbc.resultsettable" level="DEBUG"/>
        <!--        <logger name="jdbc.resultsettable" level="OFF"/>-->
        <logger name="jdbc.connection" level="OFF"/>
    </springProfile>

    <springProfile name="dev, test">
        <root level="INFO">
            <appender-ref ref="stdout"/>
            <appender-ref ref="dailyRollingInfo"/>
            <appender-ref ref="dailyRollingError"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="WARN">
            <appender-ref ref="stdout"/>
            <appender-ref ref="dailyRollingInfo"/>
            <appender-ref ref="dailyRollingError"/>
        </root>
    </springProfile>

</configuration>
